/* remove extra space in webpage */

* {
    margin: 0;
    padding: 0;
}

/* write a Navbar css */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid rgb(234, 227, 227);
}

.navItems {
    margin: 0px 40px;
    font-size: larger;
}

.navItems>img {
    width: 130px;
    cursor: pointer;
}

.navItems>span:first-child {
    font-weight: bolder;
    color: black;
}

.navItems>span {
    cursor: pointer;
    color: rgb(100, 99, 99);
    margin: 0px 12px;
}

.navItems>button {
    border: 1px solid rgb(219, 219, 219);
    background: white;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
nav > img{
    width: 40px;
    margin: 0px 20px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 920px) {
    nav > img{
        display: block;
    }
    .navItems>span , .navItems>button{
        display: none;
    }

}

/* write a section css */


section {
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sectionItems {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.sectionItems:last-child {
    align-items: center;
}

.sectionItems>img {
    width: 300px;
}
#sectionItem1{
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin: 5px 0px;
}
#sectionItem1>img{
    width: 30px;
}

#sectionItem2{
    font-size: 2.6rem;
    font-weight: bolder;
    margin: 5px 0px;
}
#sectionItem3{
    font-size: 1.1rem;
    margin: 5px 0px;
    color: rgb(86, 82, 82);
}
.sectionItems > button{
    margin: 8px 0px;
    width: 150px;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

#sectionItem4 , #sectionItem5{
    color: rgb(86, 82, 82);
}


/* write a footer css */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > span {
    color: rgb(86, 82, 82);
    text-transform: capitalize;
}
#footerItems{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footerItems > img{
    width: 100px;
    margin: 0px 10px;
}